{% extends 'base.html.twig' %}

{% block title %}Hello CartController!
{% endblock %}

{% block javascripts %}
	{% block importmap %}
		{{ importmap(['app', 'flashMessages']) }}
	{% endblock %}
{% endblock %}


{% block body %}

	{% include '_partiel/_flash_message.html.twig' %}

	{% if is_granted('ROLE_CHARITY_ASSOCIATION') %}
		{% include 'cart/_partiel/money.html.twig' %}
	{% endif %}

	<ul class='cart'>
		{% for product in products %}

			<li class='cart__list'>
				<div class='cart__List_image'>
					<img src="{{ vich_uploader_asset(product) }}" alt="">
				</div>
				<div>
					Product:
					{{ product.name }}
					x
					{{ app.session.get('cart')[product.id]}}
					{% if not is_granted('ROLE_CHARITY_ASSOCIATION') %}
						<p>Price:
							{{ product.price | format_currency('EUR', locale='fr') }}
						</p>
						<p>total:
							{{ (product.price * app.session.get('cart')[product.id]) | format_currency('EUR', locale='fr') }}


						</p>
					{% else %}
						<p>Price:
							{{ (product.price * 2) | number_format(0, ',', ' ') }}
							points
						</p>
						<p>total:
							{{ ((product.price * 2) * app.session.get('cart')[product.id]) | number_format(0, ',', ' ') }}
							points


						</p>
					{% endif %}
				</div>


			</li>

		{% endfor %}


		<div class='cart__total'>
			<div>
				<div class='cart__total_sub'>
					<div>
						TOTAL:
					</div>
					<div>
						{% if not is_granted('ROLE_CHARITY_ASSOCIATION') %}
							{{totalPrice | format_currency('EUR', locale='fr')}}
						{% else %}
							{{ (totalPrice * 2) | number_format(0, ',', ' ') }}
							points
						{% endif %}
					</div>
				</div>
				{% if not is_granted('ROLE_CHARITY_ASSOCIATION') %}
					<div class='cart__total_tva'>
						* TVA comprise
					</div>
				{% endif %}
			</div>

		</div>
		<button onclick="location.href='{{ path('cart_checkout') }}'" class="general__button cart__button_submit">
			Commander
		</button>


	</ul>


{% endblock %}
