{% extends 'base.html.twig' %}

{% block title %}Mon Profile{% endblock %}

{% block body %}

    <h1 class="UserInfo__h1">Détails du profil</h1>

    <div class="UserInfo">
        {{ form_start(form) }}


    <div class="UserInfo__blockList">
        <div>
            {{ form_label(form.firstName) }}
            {{ form_widget(form.firstName) }}
            {{ form_errors(form.firstName) }}
        </div>

        <div>
            {{ form_label(form.lastName) }}
            {{ form_widget(form.lastName) }}
            {{ form_errors(form.lastName) }}
        </div>

        <div>
            {{ form_label(form.address) }}
            {{ form_widget(form.address) }}
            {{ form_errors(form.address) }}
        </div>

        <div>
            {{ form_label(form.city) }}
            {{ form_widget(form.city) }}
            {{ form_errors(form.city) }}
        </div>

        <div>
            {{ form_label(form.postalCode) }}
            {{ form_widget(form.postalCode) }}
            {{ form_errors(form.postalCode) }}
        </div>

        <div>
            {{ form_label(form.phoneNumber) }}
            {{ form_widget(form.phoneNumber) }}
            {{ form_errors(form.phoneNumber) }}
        </div>
    </div>



        <button type="submit" class="UserInfo__buttonUpdate">Mettre à jour</button>

        {{ form_end(form) }}
    </div>

{% endblock %}
