{% extends 'base.html.twig' %}

{% block title %}
	Log in!
{% endblock %}

{% block javascripts %}
	{% block importmap %}
		{{ importmap(['app', 'password']) }}
	{% endblock %}
{% endblock %}


{% block body %}
	<div class="login__content">
		<form method="post" class="login__form">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<div class="mb-3">
					You are logged in as
					{{ app.user.userIdentifier }},
					<a href="{{ path('app_logout') }}">Logout</a>
				</div>
			{% endif %}

			<h1 class="login__title">Veuillez vous connecter</h1>
			<label for="username">Email</label>
			<input type="email" value="{{ last_username }}" name="_username" id="username" class="general__input" autocomplete="email" required autofocus>
			<label for="password">Password</label>
			<div class="password_show_content">
				<input type="password" name="_password" id="password" class="general__input show_password" autocomplete="current-password" required>
				<img id="togglePassword" class='password__potition_login' show-src="{{ asset('image/login/show.png') }}" hidden-src="{{ asset('image/login/hidden.png') }}" alt="Toggle visibility">
			</div>

			<input
			type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			{#
												            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
												            See https://symfony.com/doc/current/security/remember_me.html
												
												            <div class="checkbox mb-3">
												                <input type="checkbox" name="_remember_me" id="_remember_me">
												                <label for="_remember_me">Remember me</label>
												            </div>
												        #}

			<button class="general__button" type="submit">
				Se connecter
			</button>

			<div class="login__link-Inscrivez-vous_content">
				<p class="login__link-Inscrivez-vous">Vous n'avez pas encore de profil ?</p>
				<button class="general__button ">
					<a href="{{ path('app_register') }}" class="login__link-Inscrivez-vous">
						Inscrivez-vous ici</a>
				</button>

				<a href="{{ path('app_forgot_password_request') }}" class="login__link-Inscrivez-vous_reset">
					Mot de passe oublié</a>

			</div>


		</form>
	</div>

{% endblock %}
