{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="Register__content">
<div class="Register__form">
    <h1 class= "Register__h1">Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email, {
            'attr': { 'class': 'general__input' }
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password',
            'attr': { 'class': 'general__input' }
        }) }}

        <p>
        Le mot de passe doit contenir au minimum huit caractères, avec au moins une lettre majuscule, une lettre minuscule, un chiffre, et un caractère spécial  (#?!@$ %^&*-_).
        </p>
        <div class="Register__check">
            {{ form_label(registrationForm.agreeTerms) }}
            {{ form_widget(registrationForm.agreeTerms, {
                'attr': { 'class': 'custom-checkbox' }
            }) }}
            {{ form_errors(registrationForm.agreeTerms) }}
        </div>


        <button type="submit" class="general__button">Register</button>

        {# <a href="{{ path('app_login') }}" class="Register__link-login">Vous avez déjà un profil ? Connectez-vous ici</a> #}

			<div class="login__link-Inscrivez-vous_content">
				<p class="login__link-Inscrivez-vous">Vous avez déjà un profil ?</p>
				<button class="general__button ">
					<a href="{{ path('app_login') }}" class="login__link-Inscrivez-vous">
						Connectez-vous ici</a>
				</button>
			</div>

    {{ form_end(registrationForm) }}
</div>

</div>

{% endblock %}
