{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="Register__content">
<div class="Register__form">
    <h1 class= "Register__h1">Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email, {
            'attr': { 'class': 'general__input' }
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password',
            'attr': { 'class': 'general__input' }
        }) }}
        <div class="Register__check">
            {{ form_label(registrationForm.agreeTerms) }}
            {{ form_widget(registrationForm.agreeTerms, {
                'attr': { 'class': 'custom-checkbox' }
            }) }}
            {{ form_errors(registrationForm.agreeTerms) }}
        </div>

        <button type="submit" class="general__button">Register</button>
        <a href="{{ path('app_login') }}" class="Register__link-login">Vous avez déjà un profil ? Connectez-vous ici</a>

    {{ form_end(registrationForm) }}
</div>

</div>

{% endblock %}
