{# templates/product/_partials/paginator.html.twig #}

{% if pagination is defined and pagination.items is not empty %}
    <nav class="custom-pagination">
        <ul class="pagination">

            {# Link "Prima" #}
            {% if pagination.currentPageNumber > 1 %}
                <li>
                    <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page': 1})) }}" aria-label="Prima">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="disabled">
                    <span aria-hidden="true">&laquo;</span>
                </li>
            {% endif %}

            {# Link per ogni pagina nella gamma di pagine #}
            {% for page in pagination.pagesInRange %}
                <li class="{{ page == pagination.currentPageNumber ? 'active' : '' }}">
                    {% if page != pagination.currentPageNumber %}
                        <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page': page})) }}">{{ page }}</a>
                    {% else %}
                        <span>{{ page }}</span>
                    {% endif %}
                </li>
            {% endfor %}

            {# Link "Ultima" #}
            {% if pagination.currentPageNumber < pagination.pageCount %}
                <li>
                    <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page': pagination.pageCount})) }}" aria-label="Ultima">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="disabled">
                    <span aria-hidden="true">&raquo;</span>
                </li>
            {% endif %}

        </ul>
    </nav>
{% else %}
    <p>Nessun prodotto da mostrare.</p>
{% endif %}
