{% extends 'base.html.twig' %}

{% block title %}Envoyer un conseil{% endblock %}

{% block body %}
<section class="advice-association">
    <header class="advice-association__header">
        <h1>Envoyer un conseil</h1>
		<p class= "general__border-body">
            <span class= "general__border"></span>
        </p>
        <p>Merci de nous aider à améliorer notre site ! Nous apprécions énormément vos conseils et suggestions. Grâce à votre retour, nous espérons rendre la plateforme plus accessible et utile pour tous. Vos recommandations nous permettront de guider les clients dans leurs choix, surtout lorsqu'ils ne savent pas quel produit choisir. N'hésitez pas à partager vos idées avec nous ci-dessous.</p>
    </header>

    {% for message in app.flashes('success') %}
        <div class="advice-association__alert advice-association__alert--success" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    {{ form_start(form, {'attr': {'class': 'advice-association__form'}}) }}
        <div class="advice-association__form-group">
            {{ form_label(form.message, 'Votre message', {'label_attr': {'class': 'advice-association__form-group__label'}}) }}
            {{ form_widget(form.message, {'attr': {'class': 'advice-association__form-group__input'}}) }}
        </div>
        <button type="submit" class="general__button">Envoyer</button>
    {{ form_end(form) }}
</section>
{% endblock %}
