{% extends 'base.html.twig' %}

{% block title %}Product index
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('styles/products.scss') }}">
{% endblock %}


{% block body %}

	<ul class="product__category-list">
		<li>nourriture</li>
		<li>boissons</li>
		<li>hygiène</li>

		<li class="product__category_filter"><img src="{{ asset('image/category/Vector.png') }}" alt=""></li>
        <li class="product__category_new">
            <a href="{{ path('app_product_new') }}">
                <img src="{{ asset('image/category/morebutton.png') }}" alt="">
            </a>
        </li>
	</ul>

	<div class="productList">
		{% for product in products %}
			<div class="productList__conteiner">
				<a href="{{ path('app_product_show', { 'id': product.id }) }}" class="product__card">
					<img src="{{ vich_uploader_asset(product) }}" class="card-img-top" alt="{{ product.name }}">

					<div class="productList__body">
						<h5 class="productList__title">
							{{ product.name }}
						</h5>
						<p class="productList__prix">{{ product.price }}
							€</p>
						<div>
							le kg/€
						</div>
					</div>
                    
					<button class="productList__AddToBasket">
						ajouter au panier
					</button>
				</a>
			</div>
		{% else %}
			<div class="productList__no-products" role="alert">
				Aucun produit trouvé.
			</div>
		{% endfor %}
	</div>

{% endblock %}
