{% extends 'base.html.twig' %}

{% block title %}Product index
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('styles/products.scss') }}">
{% endblock %}

{% block javascripts %}
	{% block importmap %}
		{{ importmap(['app', 'product']) }}
	{% endblock %}
{% endblock %}

{% block body %}

	{{ include('product/productCategoryList.html.twig') }}

	{# {% set total = 0 %}
			{% for productId, quantity in cart %}
				{% set total = total + quantity %}
			{% endfor %}
		
		
			<p>{{ total }}</p> #}
	<div class="productList">
		{% for product in products %}
			<div class="productList__conteiner">
				<div class="product__card">
					<a href="{{ path('app_product_show', { 'id': product.id }) }}">
						<img src="{{ vich_uploader_asset(product) }}" class="card-img-top" alt="{{ product.name }}">

						<div class="productList__body">
							<h5 class="productList__title">
								{{ product.name }}
							</h5>
							





							{% if product.weight is not null and product.weight > 0 %}
							<div class="productList__body_prix">

								{# <p class="productList__prix">
									{{ product.weight }}
									{{ product.unit.value }}
								</p> #}
								<p class="productList__prix">
									{{ product.price | format_currency('EUR', locale='fr') }}
								</p>
								<p>
								(
									{{ (product.price / product.weight) | number_format(2, '.', ',') }}
									€/{{ product.unit.value }}
								)
								</p>

							</div>
							
							{% elseif product.volumeLitre is not null and product.volumeLitre > 0 %}
								<p class="productList__prix">
									{{ product.volumeLitre }}
									{{ product.unit.value }}
								</p>
								<div>
								(
									{{ (product.price / product.volumeLitre) | number_format(2, '.', ',') }}
									€/{{ product.unit.value }}
								)
								</div>
							{% endif %}


						</div>


					</a>
					{{ form_start(forms[product.id]) }}
					{{ form_widget(forms[product.id].quantity, {'attr': {'class': 'productList__total'}}) }}

					<button type="sumit" class="productList__AddToBasket">
						Ajouter au panier
					</button>
					{{ form_end(forms[product.id]) }}
				</div>


			</div>
		{% else %}
			<div class="productList__no-products" role="alert">
				Aucun produit trouvé.
			</div>
		{% endfor %}
	</div>

{% endblock %}
