<nav class="navbar">
    <ul class="navbar__list">
        <li class="navbar__item" id="menu-burger">
            <div class="menu-burger__icon-container">
                <div class="menu-burger__icon" aria-label="fermer le menu"></div>
            </div>
                <img data-light-src="{{ asset('image/navbar/white-mode/Menu.png') }}" data-dark-src="{{ asset('image/navbar/dark-mode/Menu.png') }}" alt="Menu" class="navbar__icon" id="navbar__icon_open_menu" aria-label="Ouvrir le menu">
                <img data-light-src="{{ asset('image/navbar/white-mode/closeMenu.png') }}" data-dark-src="{{ asset('image/navbar/dark-mode/closeMenu.png') }}" alt="fermeture du menu" aria-label="Fermer le menu" class="navbar__icon_close" id="navbar__icon_close">

            <a href="{{ path('app_home') }}" aria-label="Aller à la page d'accueil">

                <img data-light-src="{{ asset('image/navbar/white-mode/logo.png') }}" data-dark-src="{{ asset('image/navbar/dark-mode/logo.png') }}" alt="Logo" class="navbar__logo">
                
            </a>
        </li>
        <li class="navbar__item">
            <a href="{{ path('app_home') }}" aria-label="Accéder au panier">
                <img data-light-src="{{ asset('image/navbar/white-mode/Shopping.png') }}" data-dark-src="{{ asset('image/navbar/dark-mode/Shopping.png') }}" alt="Shopping" class="navbar__shopping-icon">
            </a>
        </li>
    </ul>
</nav>

<aside>
    <section class="menu">
        <div class="menu__first-block">
            <section class="menu__content">
                <ul class="menu__list">
                    <li class="menu__item"><a href="{{ path('app_home') }}" aria-label="Aller à la page d'accueil">Home</a></li>
                    <li class="menu__item"><a href="{{ path('app_sponsor') }}">About Us</a></li>
                    <li class="menu__item"><a href="">Services</a></li>
                    <li class="menu__item"><a href="">Contact</a></li>
                    <li class="menu__item"><a href="{{ path('app_sponsor') }}">Sponsor</a></li>
                </ul>
            </section>

            <aside class="menu__appearance-settings">
                <h6 class="menu__appearance-settings__title">Apparence</h6>
                <button class="menu__appearance-settings__toggle" id="theme-toggle">
                    <figure class="menu__appearance-settings__figure">
                        <img data-light-src="{{ asset('image/menuburger/white-mode/dark_mode.svg') }}" data-dark-src="{{ asset('image/menuburger/dark-mode/light_mode.svg') }}" alt="Shopping" class="navbar__shopping-icon">
                </figure>
                </button>
            </aside>
        </div>

        <section class="menu__account-contact">
            <p class="menu__account">
                <a href="{{ path('app_home') }}">Mon compte</a>
            </p>
            <p class="menu__contact">Contactez-nous</p>
        </section>
    </section>
</aside>
